html {
  font-size: 16px;
  height: 100%;
}
html.imprint {
  height: auto;
}
html.imprint body {
  padding-top: 15rem;
  background: none;
  color: #313837;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

body {
  height: 100%;
  position: relative;
  background: url("../images/image_1920.jpg") no-repeat center;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}
body .upper-triangle, body .lower-triangle {
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 99;
  background-size: 100%;
  padding: 3rem;
}
body .upper-triangle {
  background: url("../images/triangle-white.svg") no-repeat top left transparent;
  top: 0;
  left: 0;
}
body .upper-triangle .logo {
  height: 5.5rem;
}
body .lower-triangle {
  background: url("../images/triangle-green.svg") no-repeat bottom right transparent;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
body .lower-triangle a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-left: 4rem;
}
body .lower-triangle img {
  height: 9rem;
}

@media all and (max-width: 1080px) {
  html {
    overflow-x: hidden;
  }

  body {
    background: url("../images/image_1080.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 8px;
  }

  body .upper-triangle {
    width: 130%;
  }
  body .lower-triangle {
    width: 120%;
  }
}
@media (min-width: 1080px) {
  html body .lower-triangle {
    padding: 3rem;
  }
  html body .lower-triangle a {
    margin-right: 0;
  }
  html body .lower-triangle img {
    height: 6rem;
  }
}
@media (min-width: 576px) and (max-width: 1600px) {
  html {
    font-size: 12px;
  }
  html body .upper-triangle {
    width: 90%;
  }
  html body .lower-triangle {
    width: 80%;
  }
}
